:root {
  --red: rgb(255, 0, 0);
  --white: #FFFFFF;
  --gray: #D1D1D6;
  --gray-secondary: #84848D;
  --border-radius: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.369)),
    url('/static/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

.close-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--red) !important;
}

input[type=text]:focus {
  outline: none;
}

.sig {
  color: rgba(177, 177, 177, 0.653);
  font-size: 0.9rem;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media (max-width: 768px) {

  .sig {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }
}