:root {
  --red: rgb(255, 0, 0);
  --white: #FFFFFF;
  --border-radius: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.369)),
    url('/background.jpg');
  width: 100vw;
  height: 100vh;
  min-height: 100;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

.close-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

/* .swiper-wrapper,
.swiper-backface-hidden,
.swiper-slide {
  transform: none !important;
} */